//
// sprocketnes/nes.rs
//
// Copyright (c) 2012 Mozilla Foundation
// Author: Patrick Walton
//

// FIXME: fmt! is busted here.
use core::{extfmt, str};

mod cpu;
mod disasm;
mod main;
mod mapper;
mod rom;


